<div class="px-3 py-3 text-primary ">
  All available users
</div>

<div class="pt-3">

  <table class="table table-hover table-striped">
    <thead class="tableheader">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Password</th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{user.studentID}}</td>
        <td>{{user.password}}</td>
      </tr>
      <tr>

      </tr>

    </tbody>
  </table>

  <div class="px-3 py-3">
    <button (click)="logOut()" class="btn btn-secondary">Log Out</button>

  </div>

</div>